* {
  background-color: white;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(3, 100px);

  grid-gap: 1rem;
}
.cell {
  border: 1px solid black;
  padding: 20px;

  line-height: 4rem;
  text-align: start;
  font-size: 2rem;
}
.el-2 {
  grid-column: span 3;
  grid-column: 3 / 6;
  grid-row: 2;
  justify-self: ;
}
.cell:nth-child(even) {
  background-color: grey;
}
.cell:nth-child(odd) {
  background-color: black;
  color: white;
}
